
header h1 {
  font-family: 'Trebuchet MS', Serif;
  Margin-left: 5px;
}


form label{
  display: block;
  margin: 10px 0 5px 0;
}

form textarea {
  display: block;
  margin-bottom: 10px;
  height: 4rem;
}

form input, textarea {
  width: 100%;
}



section {
  margin: 5px;
}

@media all and (min-width: 600px) {
  section {
    margin: 20px;
  }
  header h1 {
    margin-left: 20px;
  }
  form textarea {
    height: 6rem;
  }


}